body {
 margin: 0;
 background: #1d4ed8;
 font-family: Tahoma, SAns-serif;
 color: white
}

#desktop {
  padding: 20px;
}

#taskbar {
  position: fixed;
  bottom: 0;
  width: 100%
  background: #0f172a;
  padding: 5px;

.window {
  display: none;
  background: e5e7eb;
  color: black;
  padding: 10px;
  width: 300px;
}
